1. Write a program in python where you have student details ( roll_no, name, DOB, email, mobile, address) and Mark details (Roll_no,Mark1, Mark2, Mark3, Total, Grade) Entered from the user, and you will be able to view, add, and update the details using mySQl Data Base. Use Primary & Forign key relationships.

Use a Menu like below

1. Add Student personal data(Add a row to the student table)
2. Add Marks & grade of a student( Add a row in the Marks table )
3. Update Student personal data
4. Update Mark data of a student
5. Exit


You can create the tables before only in mysql commandline and start writing the program. Or create it in the program. You can use an infinite while loop which will come out of the loop only when user selected option 5  'Exit'.

## Solution

// I followed the following steps to create a new database and corresponding tables to it //

1. Create a new database called **testdb1**
2. Create a student table by:
``` sql

CREATE TABLE student(
    Roll_no INT PRIMARY KEY,
    Name VARCHAR(20),
    Date_of_Birth DATE,
    Email VARCHAR(40),
    Address VARCHAR(50)
);

```
3. Create a marks table by:
```sql

CREATE TABLE marks(
    Roll_no INT PRIMARY KEY,
    Mark_1 INT,
    Mark_2 INT,
    Mark_3 INT,
    Total INT,
    Grade VARCHAR(2)
);

```

4. Added sample data to the tables by:

```sql

INSERT INTO students (roll_no, name, date_of_birth, email, address)
VALUES
    (1, 'John Doe', '1990-05-15', 'johndoe@example.com', '123 Main St'),
    (2, 'Jane Smith', '1992-09-10', 'janesmith@example.com', '456 Elm St'),
    (3, 'Mike Johnson', '1991-02-25', 'mikejohnson@example.com', '789 Oak Ave'),
    (4, 'Emily Davis', '1993-07-20', 'emilydavis@example.com', '321 Maple Rd'),
    (5, 'Alex Brown', '1994-12-05', 'alexbrown@example.com', '987 Pine Ln'),
    (6, 'Sarah Wilson', '1990-11-30', 'sarahwilson@example.com', '654 Cedar St'),
    (7, 'Chris Lee', '1992-04-15', 'chrislee@example.com', '159 Birch Ave'),
    (8, 'Olivia Taylor', '1993-09-08', 'oliviataylor@example.com', '753 Walnut Rd'),
    (9, 'Michael Anderson', '1991-06-25', 'michaelanderson@example.com', '258 Spruce Ln'),
    (10, 'Sophia Clark', '1994-03-12', 'sophiaclark@example.com', '852 Oakwood Dr');

INSERT INTO marks (student_roll_no, Mark_1, Mark_2, Mark_3, Total, Grade)
VALUES
    (1, 85, 90, 92, 267, 'A'),
    (2, 78, 88, 92, 258, 'B+'),
    (3, 90, 95, 88, 273, 'A'),
    (4, 75, 80, 82, 237, 'B'),
    (5, 92, 95, 98, 285, 'A+'),
    (6, 80, 85, 87, 252, 'B+'),
    (7, 88, 92, 90, 270, 'A-'),
    (8, 82, 89, 92, 263, 'B+'),
    (9, 95, 97, 93, 285, 'A+'),
    (10, 70, 75, 80, 225, 'C');

```

5. Established a relationship between the two tables by :
```sql
ALTER TABLE marks
ADD FOREIGN KEY (student_roll_no) REFERENCES student (Roll_no);
```

6. Wrote the following program in python to update the data in the tables accordingly.

In [ ]:
import mysql.connector


#!! Update according to your own system
connection = mysql.connector.connect(
    host="localhost",
    user="sqluser",
    password="password",
    database="testdb1"
)

# Function to add a row to the student table
def add_student_data():
    cursor = connection.cursor()
    roll_no = input("Enter Roll No: ")
    name = input("Enter Name: ")
    dob = input("Enter Date of Birth (YYYY-MM-DD): ")
    email = input("Enter Email: ")
    address = input("Enter Address: ")
    
    insert_query = "INSERT INTO student (Roll_no, Name, Date_of_Birth, Email, Address) VALUES (%s, %s, %s, %s, %s)"
    values = (roll_no, name, dob, email, address)
    
    cursor.execute(insert_query, values)
    connection.commit()
    print("Student data added successfully.")

# Function to calculate grade based on total marks
def calculate_grade(total):
    if total >= 90:
        return 'A+'
    elif total >= 80:
        return 'A'
    elif total >= 70:
        return 'B'
    elif total >= 60:
        return 'C'
    elif total >= 50:
        return 'D'
    else:
        return 'F'

# Function to add marks data
def add_marks_data():
    cursor = connection.cursor()
    roll_no = input("Enter Roll No of the student: ")

    marks = {}
    for i in range(1, 4):
        mark = int(input("Enter Mark {} (out of 100): ".format(i)))
        while mark > 100:
            print("Invalid input. Mark should be less than or equal to 100.")
            mark = int(input("Enter Mark {} (out of 100): ".format(i)))
        marks["mark_{}".format(i)] = mark

    total = sum(marks.values())
    grade = calculate_grade(total)

    cursor.execute("INSERT INTO marks (Roll_no, Mark_1, Mark_2, Mark_3, Total, Grade) VALUES (%s, %s, %s, %s, %s, %s)",
                   (roll_no, marks['mark_1'], marks['mark_2'], marks['mark_3'], total, grade))

    connection.commit()
    print("Marks data added successfully.")


# Function to update student personal data
def update_student_data():
    updated_values = {'name': False, 'email': False, 'address': False, 'date_of_birth': False}
    cursor = connection.cursor()
    roll_no = input("Enter Roll No of the student to update: ")

    fields = {
        'name': ('Name', 'Update Name?'),
        'email': ('Email', 'Update Email?'),
        'address': ('Address', 'Update Address?'),
        'date_of_birth': ('Date of Birth (YYYY-MM-DD)', 'Update Date of Birth?')
    }

    for field, (field_name, prompt) in fields.items():
        if input(prompt + " (y/n): ").lower() == 'y':
            value = input("Enter new {}: ".format(field_name))
            updated_values[field] = True
        else:
            value = None

        if updated_values[field]:
            cursor.execute("UPDATE student SET {} = %s WHERE Roll_no = %s".format(field_name), (value, roll_no))

    connection.commit()
    print("Student data updated successfully.")



# Function to update marks data
def update_marks_data():
    # Create a dictionary to track updated variables
    updated_values = {'mark_1': False, 'mark_2': False, 'mark_3': False, 'total': False, 'grade': False}
    cursor = connection.cursor()
    roll_no = input("Enter Roll No of the student to update marks: ")

    fields = {
        'mark_1': ('Mark 1', 'Update Mark 1?'),
        'mark_2': ('Mark 2', 'Update Mark 2?'),
        'mark_3': ('Mark 3', 'Update Mark 3?'),
        'total': ('Total', 'Update Total?'),
        'grade': ('Grade', 'Update Grade?')
    }

    for field, (field_name, prompt) in fields.items():
        if input(prompt + " (y/n): ").lower() == 'y':
            value = input("Enter new {}: ".format(field_name))
            updated_values[field] = True
        else:
            value = None

        if updated_values[field]:
            cursor.execute("UPDATE marks SET {} = %s WHERE Roll_no = %s".format(field_name), (value, roll_no))

    connection.commit()
    print("Marks data updated successfully.")


while True:
    option =  str(input('''
            Select an option

            1. Add Personal Data of a New Student
            2. Add Marks and Grades of a New Student
            3. Update an existing Student's personal data
            4. Update Marks or Grades of an existing Student
            5. Exit


                '''))
    
    if option == "1":
        add_student_data()
    elif option == "2":
        add_marks_data()
    elif option == "3":
        update_student_data()
    elif option == "4":
        update_marks_data()
    elif option == "5":
        print("Exiting the program...")
        break
    else:
        print("Invalid choice. Please try again.")